.hypothesis/
dask-worker-space/
__pycache__
.ipynb_checkpoints/
.tox/
.vscode/
.idea/
pythonenv*/
.vagrant/

.benchmarks/
.coverage
coverage.xml

.eggs/
.*_cache/
*.egg-info/
/build/
/dist/
/Release/
/Debug/

*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.dylib
*.exp
*.lib
*.o
*.obj
_*.c

*.log
*.prof
*.lprof
bench*.json

.DS_Store
